.nested_comments {
  margin-left: 30px;
  margin-bottom: 10px;
  padding-left: 20px;
  border-left: 1px solid #e5e5e5;
}
.comment-count {
  .badge {
    border-radius: 100px;
    padding: 5px 7px;
    &.badge-danger {
      //background-color: $alert-danger-bg;
      background-color: #f3a1a1;
      color: $alert-danger-text;
    }
    &.badge-default {
      background-color: #b1b1b1;
      color: $text-color;
    }
  }
  p {
    line-height: 1;
  }
}

.match-comments {
  padding: 20px;
  background-color: #f3fbff;
  border-top: 1px solid #e5e5e5;
}

.comment {
  margin-bottom: 20px;
}

.comment-recipients {
  padding-bottom: 10px;
  margin-bottom: 10px;
  .current-recipients {
    float: left;
    margin-right: 5px;
    .recipient {
      display: inline-block;
      position: relative;
      padding: 3px;
      &:hover {
        cursor: pointer;
      }
      .remove-recipient {
        position: absolute;
        top: -6px;
        right: -3px;
        display: none;
      }   
    }
  }
  .recipient-search {
    float: left;
    width: 200px;
  }
}

#comment-user-results {
  .ui-menu .ui-menu-item {
    padding: 0px;
    font-family: $font-family-sans-serif;
  }
  .ui-menu .ui-menu-item a {
    padding: 5px;
  }
}
