.template-color-preview {
  height: 25px;
  width: 25px;
}

.appearance-template-box {
  height: 150px;
}

#appearance-template-next-btn {
  border: none;
}

#appearance-template-categories li {
  border: 1px solid #edeef2;
  border-radius: 6px;
  background: #fff;
}

#appearance-template-categories{
  margin-bottom: 10px;
}

#appearance-selection{
  height: 350px;
  overflow: auto;
}

.template-outline .panel{
  border: 1px solid #e6e6e6;
}

.at-avatar{
  width: 105px;
  height: 105px;
  line-height: 105px;
}

.at-panel-body{
  height: 130px;
}

.current-at-panel-body{
  height: 100px;
}
