.modal-dialog{
  margin-top: 80px;
}

.modal-body.body-bg {
  background: $body-bg;
}

.modal-sz-90p {
  width: 90%;
}

.modal-content{
	.form-group{
		margin-bottom: 24px;
	}
	.form-control{
		//height: 40px;
		border-radius: 0;
	}
}

#composeModal{
	z-index: 10000;
	.form-group{
		margin-bottom: $margin-md;
	}

	input.form-control{
		border: none;
		box-shadow: none;
		outline: none;
		border-bottom: 1px solid #eee;
	}
	textarea{
		border-radius: 0;
		box-shadow: none;
		border: 1px solid #eee;
		resize: none;
	}
}
.modal-dialog {
  &.themed {
    .modal-header {
      background-color: $inverse;
      color: white;
      border-bottom: 0px;
    }
    .modal-body {
      background: $body-bg;
    }
    .close {
      color: white;
      opacity: 1;
      text-shadow: none;
      font-weight: normal;
      &:hover, &:focus {
        color: white;
      }
    }
  }
}
