.simple-page-form{
	background-color: #fff;
	border-radius: 6px;
	padding: 24px;
	margin-bottom: 24px;

	.form-group{
		margin-bottom: 32px;
	}
	input,
	input:focus,
	input:active{
		outline: none;
		box-shadow: none;
	}

	input{
		border: none;
		border-bottom: 1px solid #eee;
		height: 40px;
	}
	.btn{
		width: 100%;
	}
}

