<div class="row">
  <div class="col-md-4"><%= render 'show', draw_stage_definition: @draw_stage_definition %></div>
  <div class="col-md-8"><%= render 'show_more', draw_stage_definition: @draw_stage_definition %></div>
</div>
