<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @draw_output_group.size %>
</p>

<%= link_to 'Edit', edit_draw_output_group_path(@draw_output_group) %> |
<%= link_to 'Back', draw_output_groups_path %>
