<div class="widget wide">
  <div class="widget-header">
      <h4 class="widget-title"><span><%= title %></span></h4>
  </div>
  <div class="widget-body"> 
    <%for e in elements do%>
      <div class="draw-element">
        <%= e.name %>
      </div>
    <%end%>
  </div>
</div>

