<div class="widget">
<div class="widget-header">
  <h4 class="widget-title">
    <span>Draw Step Types</span>
    <span class="button-right"><%= link_to 'New Draw Step Type', new_draw_step_variety_path, "class" => "btn btn-primary rounded" %></span>
  </h4>
</div>  

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% draw_step_varieties.each do |draw_step_variety| %>
      <tr>
        <td class="wide"><%= link_to draw_step_variety.description, draw_step_variety %></td>
        <td><%= link_to 'Edit', edit_draw_step_variety_path(draw_step_variety) %></td>
        <td><%= link_to 'Destroy', draw_step_variety, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
