@media (min-width: $screen-sm-min) {
  .form_in_place {
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }
  }
}

#group-brackets {
  .nav-tabs > li.active > a {
    background-color: $white;
  }
  .nav-tabs > li > a {
    border-color: #ddd;
    border-bottom: none;
  }
}

.bracket-box {
  .box-header {
    margin: 0 6px;
    padding: $padding-sm 10px;
    background-color: $gray-lighter;
    .button-right {
      float: right;
    }
  }
}

.form-control.number {
  width: 42px;
}
